.flotarderecha{
    float:right;
}
.capacentrada{/*Centrado de elementos de bloque*/
    width:70%;
    min-height:200px;
    margin-left:auto;
    margin-right:auto;
    text-align: justify;
}
.centradoelementoinline{/*De forma cutre con text-align*/
    text-align:center;
}
.contenedor{
    width:80%;
    min-height: 300px;
    border:solid 1px black;
    position: relative;
    margin-left:auto;
    margin-right:auto;
}
.alinearderechaposition{
    position: absolute;
    right:0;
    top:0;
}
.alinearderchafloat{
    float:right;
}
ol{
    list-style-type: none;
    margin-top:40px;
}
ol li{
    padding: 30px 10px;/*Arriba y abajo 30px*/
    border:solid 1px black;
    display:inline;
}
.centradoverticalhorizontal{
    margin-top:40px;
    height:300px;
    line-height: 300px;
    border:1px solid black;
    text-align: center;
}
.centradoverticalhorizontal p{
    line-height:0;/*Con establecer un alto de línea ya lo centraría verticalmente*/
    display:inline-block;
    vertical-align: middle;
}
.contenedortransform{
    height:400px;
    position:relative;
    border:1px solid black;
}
.contenedortransform p{/*Incompatible con IE8 y anteriores*/
    margin:0;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);/*Desplaza en el eje x y en el eje y*/
    -ms-transform: translate(-50%, -50%);
}
.opacidad{/*Establece la opcacidad de un elemento, aumentando o disminuyendo su transparencia*/
    opacity: 0.5;
    filter:alpha(opacity=50);/*Para IE8 y anteriores*/
}


.contenedorimagen{
    position: relative;
}
.textocentrado{
    position: absolute;
    top:50%;
    left:0%;
    text-align:center;
    width:100%;
}
.opacidadimagen{/*Establece la opcacidad de un elemento, aumentando o disminuyendo su transparencia*/
    opacity: 0.5;
    filter:alpha(opacity=50);/*Para IE8 y anteriores*/
    width:100%;
}